{% extends '::base.html.twig' %}

{% block body -%}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fredericka the Great|Belleza">
        <div class="centre">
       <center><h1>Ajouter tâche</h1></center>
 <div id="notreformulaire">
      {{ form(form) }}</div>

       <br><br>
   
        <a href="{{ path('tache') }}">
             <img src={{ asset('bundles/main/img/bacc.png') }}>
     </a>
    
   
        </ul></div>
             <p style="float: bottom;"> © CopyRight Younes Daoud</p>
{% endblock %}
